<h1>Employee Details</h1>

<h2>Name: <%= "#{@employee.first_name} #{@employee.last_name}" %></h2>
<h3>Alias: <%= @employee.alias %></h3>
<h4>Title: <%= @employee.title %></h4>
<h5>Office: <%= @employee.office %></h5>
<h5>Alias: <%= @employee.alias %></h5>
<h5>Dog: <%= @employee.dog.name %></h5>
<h5>Image: <%= @employee.img_url %></h5>

